<nav class="top-nav">
  <a class="nav-item" href='/'>Home</a>
  <!--| <a class="nav-item" href='/tags'>Tags</a>-->
  <!--| <a class="nav-item" href='/about'>About</a>-->
  | <a class="nav-item" target="_blank" href="/feed.xml">RSS</a>
  <!--| <a class="nav-item" target="_blank" href="https://twitter.com/tzwm">Twitter</a>-->
  <!--| <a class="nav-item" target="_blank" href="https://github.com/tzwm">GitHub</a>-->
  {% if site.javascript_enabled %}| <a class="nav-item dark-light-switch" href="#">Dark</a>{% endif %}
</nav>
