---
---

.top-nav a {
  text-decoration: auto;
}

footer span {
  margin-right: 0.4rem;
  white-space: nowrap;
}

p {
  font-size: 1.1rem;
  margin: 1rem 0;
}

.post-date {
  width: 7em;
  flex-shrink: 0;
}

.tags {
  background-color: white;
  color: #777777;
  padding: 2px 5px;
  border-radius: 2px;
  text-decoration: none;
}

hr.stylish {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80));
  margin: 5px 0;
}
