<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>

{% include footer.html %}

{% if site.javascript_enabled %}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script src="/assets/main.js"></script>
  <script src="/assets/custom.js"></script>
  <script async defer data-website-id="94ec8ccd-b5e2-4154-8984-19f1aa1877bf" src="https://ummmmami.tzwm.me/umami.js"></script>
{% endif %}
</body>
</html>
